# Dependency directories
node_modules/

# Next.js build output
.next/

# Environment variables
.env
.env.*
!/.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build artifacts
dist/
build/
coverage/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test files
*.spec.js
*.test.js
__snapshots__/

# Temp files
tmp/
temp/

# Media
*.mp4
